
<div id="objectsId">
    <div>
      <h1 class="header">Art Piece #<%= @data.fetch("objectID") %> </h1>
      <img class="art" src="<%= @data.fetch("primaryImage") %>" alt="<%= @data.fetch("title") %>">
      <% @data.fetch("additionalImages", []).each do |image_url| %>
       <img class="art" src="<%= image_url %>" alt="<%= @data.fetch("title") %>">
      <% end %>
      <div class="description"> <%= @data.fetch("title")%> </div>
      <div class="description"> by <%= if @data.fetch("artistDisplayName") == nil then unknown else @data.fetch("artistDisplayName") end%></div>
      <div class="description"> <%= if @data.fetch("artistDisplayBio") == nil then unknown else @data.fetch("artistDisplayBio") end %></div>
      <div class="description"> <%= @data.fetch("classification")%></div>
    </div>
</div>
